Given the following sentences:
{{ sentences }}

Please read the following definitions first. 1. A positive sentence is when the sentence mainly indicates how to correctly do a certain action or what not to do. 2. A negative sentence is when the sentence mainly indicates what is wrong with the action being made. 3. A neutral sentence is neither strictly a positive or a negative sentence.

Please label the sentences above as Positive, Negative of Neutral according to what I just mentioned.