The user is going to provide you with an text in triple quotes that contains a name of a yoga pose. Describe the sequence of actions requires to do this yoga pose. Summarize all these actions into a sentence and provide 5 different variations of this sentence. Do not provide an introduction, just the list of sentences enumerated 1 to 5.